
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car table</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />

</head>
<body>
<div align = "left" >
    <h3><a  th:href="@{'/newCar'}">add new car</a></h3>
</div>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Price</th>
        <th scope="col">Year of issue</th>
        <th scope="col">edit</th>
        <th scope="col">delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars} ">
        <td th:text="${car.carId}">id</td>
        <td th:text="${car.brand}">brand</td>
        <td th:text="${car.model}">model</td>
        <td th:text="${car.price}">price</td>
        <td th:text="${car.yearOfIssue}">year of issue</td>
        <td>
            <a th:href="@{'/edit/' + ${car.carId}}">edit</a>
        </td>
        <td>
            <a th:href="@{'/delete/' + ${car.carId}}">delete</a>
        </td>

    </tr>

    </tbody>
</table>

<div align = "left" >
    <h3><a  th:href="@{'/'}">first page</a></h3>
</div>

</body>
</html>